* {
    margin: 0;
    padding: 0;
}

body {
    color: white;
    background-color: #201b21;
}

.no-display {
    display: none !important;
}

.top-parallax {
    height: 15vh;
    width: 100vw;
    background-color: #201b21;
    border-bottom: 3px solid black;
}

.parallax {
    background-color: rgba(17,13,18,1);
    width: 100vw;
    height: 675px;
}

.parallax-content {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    width: 1200px;
    height: 675px;
    z-index: 1;
    position: relative;
}

.parallax-content img {
    position: absolute;
    top: 0;
    width: 1200px;
    height: 675px;
    pointer-events: none;
    object-fit: cover;
}

.parallax-content img.branches {
    position: absolute;
    width: 100vw;
    top: -30%;
    object-fit: fill;
}

.floor {
    position: absolute;
    bottom: 0;
    width: 100vw;
    background-color: #201b21;
    pointer-events: none;
    height: 30%;
}

.parallax-content .title {
    position: absolute;
    font-size: 100px;
    color: #e6e6e6;
    text-shadow: 0px 4px 4px rgb(77, 77, 77);
    top: 120px;
}

.control {
    height: 100vh;
    width: 100vw;
    background-color: #201b21;
    position: relative;
    z-index: 100;
    text-align: center;
}
.control p {
    padding-top: 1em;
}

/* CONTENT */

main {
    height: 100vh;
    background: linear-gradient(180deg, rgba(32,27,33,1) 0%, rgba(32,27,33,1) 70%, rgba(17,13,18,1) 100%);
    width: 100vw;
    position: relative;
    z-index: 100;
    opacity: 1;
    transition: opacity 1s linear;
}

.hide {
    opacity: 0 !important;
    pointer-events: none;
}

.content {
    width: 60%;
    margin: 0 auto;
    font-size: 2em;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.content h2 {
    align-self: center;
    margin-bottom: .5em;
    margin-top: 1em;
}

/* BUTTON */

.page-control {
    position: fixed;
    width: 70px;
    height: 70px;
    right: 3%;
    bottom: 5%;
    border: 1px solid white;
    background-color: black;
    border-radius: 40px 20px 40px 20px;
    cursor: pointer;
    padding: 1em;
    z-index: 999;
    opacity: 1;
    transition: opacity .5s linear, background-color .2s linear;
}

.page-control:hover {
    background-color: rgba(32,27,33,1);
}